@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
    @apply min-w-12 h-10 px-2 bg-white text-black font-bold rounded-lg flex items-center justify-center shadow shadow-gray-700;
}

.button > i {
    @apply material-icons;
}

.button-green > i {
    @apply text-green-700;
}

.button-red > i {
    @apply text-red-700;
}

.button-violet > i {
    @apply text-violet-700;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 36px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}


