@tailwind base;
@tailwind components;
@tailwind utilities;

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.button {
    @apply rounded-lg text-lg text-black font-bold border-2;
}

.button-green {
    @apply bg-green-500 border-green-800;
}

.button-red {
    @apply bg-red-500 border-red-800;
}

.button-blue {
    @apply bg-blue-500 border-blue-800;
}

.button-yellow {
    @apply bg-yellow-500 border-yellow-800;
}


